{% extends "base.html" %}

<head>
    <title>{% block title %}Pokemon stats{% endblock title %}</title>
</head>

{% block content %}
<h1>Pokemon Stats</h1>

<audio id="pokemonCry" autoplay>
    <source src="https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/132.ogg" type="audio/ogg">
    Your browser does not support the audio element.
</audio>

<script>
    // Set the volume to 50% as soon as the audio element can be played
    var audio = document.getElementById('pokemonCry');
    audio.volume = 0.1;
</script>

<h2>Pokemon: {{ pokemon.name }}</h2>

<div id="sprites">
    {% if pokemon.sprites.front_default %}
    <img src="{{ pokemon.sprites.front_default }}" alt="Front default">
    {% endif %}
    {% if pokemon.sprites.front_shiny %}
    <img src="{{ pokemon.sprites.front_shiny }}" alt="Front shiny">
    {% endif %}
    <!-- Add more as needed -->
</div>

<h3>Type:</h3>
<div class="type-icons" style="display: flex;">
    {% for type in pokemon.types %}
    <div class="type-icon">
        <!-- Display type name -->
        <p>{{ type | capitalize }}</p>
        <!-- Display type icon -->
        <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/gen8/{{ type }}.png"
            alt="{{ type | capitalize }} icon">
        <!-- Or use the other URL if preferred -->
        <!-- <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/{{ type }}.png" alt="{{ type | capitalize }} icon"> -->
    </div>
    {% endfor %}
</div>

<h3>Base stats:</h3>
<ul>
    {% for key, value in pokemon_stats.items() %}
    {% if value is mapping %}
    <p>{{ key }}: {{ value.get('base_stat') }}</p>
    {% else %}
    <p>{{ key }}: {{ value }}</p>
    {% endif %}
    {% endfor %}
</ul>

<a href="/">Search again</a>
{% endblock %}