<!DOCTYPE html>
<html>

<head>
    <title>Type Advantages</title>
    <style>
        table {
            border: 2px solid #000;
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid #000;
        }

        th {
            cursor: pointer;
        }

        td:first-child {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Type Advantages</h1>
    <table>
        <tr>
            <th></th>
            {% for defending_type in defending_types %}
            <th onclick="sortTable({{ loop.index }})">{{ defending_type|capitalize }}</th>
            {% endfor %}
        </tr>
        {% for attacking_type, type_effectiveness in type_advantages.items() %}
        <tr>
            <td><strong>{{ attacking_type|capitalize }}</strong></td>
            {% for effectiveness in type_effectiveness.values() %}
            <td>{{ effectiveness }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </body< /html>