<!DOCTYPE html>
<html>

<head>
    <title>Type Advantages</title>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("type-table");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Type Advantages</h1>
    <table id="type-table">
        <tr>
            <th onclick="sortTable(0)">Attack Type</th>
            {% for defending_type in defending_types %}
            <th onclick="sortTable({{ loop.index }})">{{ defending_type }}</th>
            {% endfor %}
        </tr>
        {% for attacking_type, type_effectiveness in type_advantages.items() %}
        <tr>
            <td>{{ attacking_type }}</td>
            {% for effectiveness in type_effectiveness.values() %}
            <td>{{ effectiveness }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>